.react-chatbot-kit-chat-container {
    width: 350px;
    height: 85vh;
    scroll-behavior: smooth !important;
    background-color: #F4F5FA 
  } 

 .react-chatbot-kit-chat-bot-message {
    width: 70%;
    margin-left: 10px;
}

.start-btn {
    background-color: #61045F;
    color: white;
    padding: .5rem 1rem;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
}

/* .react-chatbot-kit-chat-container {
  width: 100% !important;
  scroll-behavior: smooth !important;
  background-color: #F4F5FA !important;
  height: 85vh !important;
  width: 250px;
  /* max-width: 400px; */
/* } */

/* .react-chatbot-kit-chat-inner-container{
  background-color: #F4F5FA !important;
} */

.react-chatbot-kit-chat-message-container{
  background-color: #F4F5FA !important;
  height: 76vh !important;
}

/* .react-chatbot-kit-chat-header{
  background-color: #F4F5FA !important;
  margin-bottom: 4px !important;
  display: block !important;
  text-align: center !important;
} */
/* .react-chatbot-kit-chat-bot-message{
  margin-left: 2px !important;
} */
/* .react-chatbot-kit-chat-input-container{
  margin-top: 4px !important;
}  */